body,html{margin:0;padding:0;font-family: "Poppins", sans-serif;}
#logo{background-color: black;text-align: center;height: 10em;max-width: 100%;}

.container{
max-width: auto;
}

* {box-sizing: border-box;}


    ul{
        padding:0px;
        display: flex;
        margin: 0px;  
        justify-content: space-between;   
        list-style-type: none;
        width:100%;
        padding-top: 1em;
    }

    #nav-links{
        background: black;         
        width: 100%;
        height: 100%;	
        
        
    }

    li{
    display: inline; 
    padding-left:10px;
    color:white;
    
    }

    #nav-2{background-color: black;width:100%;height:100%;display: none;}

    #nav-links li a{
        text-decoration: none;
        color: white;
        text-align: center;
        padding: 10px 25px;
        display:block;
    
        border-bottom: solid 3px black;
    
    }

    #nav-links ul a:hover{
        border-bottom-color: rgba(230, 48, 48, 0.9);
    }
    #nav-links ul a:active{
        border-bottom:3px solid rgba(230, 48, 48, 0.9);
    }


    #form1{
        position: relative;
        top: 1em;
        left:50%;
        margin-right: 2em;
        transform: translate(-50%,-50%);
        transition: all 1s;
        width: 3em;
        height: 3em;
        background: white;
        box-sizing: border-box;
        border-radius: 25px;
        border: 4px solid white;
        
    }

    input[type=search]{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;;
        height: 42.5px;
        line-height: 30px;
        outline: 0;
        border: 0;
        display: none;
        font-size: 1em;
        border-radius: 20px;
        
    }

    

    #nav-links .fa{
        box-sizing: border-box;
        padding: 10px;
        width: 42.5px;
        height: 42.5px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        color: #07051a;
        text-align: center;
        font-size: 1.2em;
        transition: all 1s;
    }

    #form1:hover{
        width: 200px;
        cursor: pointer;
    }

    form:hover input[type=search]{
        display: block;
    }

    form:hover .fa{
        background: #07051a;
        color: white;
    }

         /* For mobile phones: */
    [class*="col-"] {
        width: 100%;


    }
    


@media  only screen and (min-width:750px) {
.col-m-1{
    width: 8.33%;
    float: left;
}
.col-m-2{
    width: 16.66%;
    float: left;            
}
.col-m-3{
    width: 25%;
    float: left;
}
.col-m-4{
    width: 33.33%;
    float: left;
}
.col-m-5{
    width: 41.65%;
    float: left;
}
.col-m-6{
    width: 50%;
    float: left;
}
.col-m-7{
    width: 58.333%;
    float: left;
}
.col-m-8{
    width: 66.66%;
    float: left;
}
.col-m-9{
    width: 75%;
    float: left;
}
.col-m-10{
    width: 83.33%;
    float: left;
}
.col-m-11{
    width: 91.66%;
    float: left;
}
.col-m-12{
    width: 100%;
    float: left;
}
}

.disp{display:none;}

li img{height:3em;display:none;}
li a{display:block; }
@media only screen and (max-width:1005px)
{
#logo{display:none;}
#nav-links{display:none;}
#nav-2{display: block; padding-bottom:30px ; }

#nav-2 ul li a{text-decoration:none;color:white; padding:5px; text-align: justify,center;}

#nav-2 input:checked~.disp{

display:block;


}

}
@keyframes slide-down {
0%{ opacity: 0;
-webkit-transform: translateY(-100%);}

100%{opacity: 1;
-webkit-transform: translateY(0) ;}

}


@media  only screen and (min-width:1100px) {
.col-1{
    width: 8.33%;
    float: left;
}
.col-2{
    width: 16.66%;
    float: left;            
}
.col-3{
    width: 25%;
    float: left;
}
.col-4{
    width: 33.33%;
    float: left;
}
.col-5{
    width: 41.65%;
    float: left;
}
.col-6{
    width: 50%;
    float: left;
}
.col-7{
    width: 58.333%;
    float: left;
}
.col-8{
    width: 66.66%;
    float: left;
}
.col-9{
    width: 75%;
    float: left;
}
.col-10{
    width: 83.33%;
    float: left;
}
.col-11{
    width: 91.66%;
    float: left;
}
.col-12{
    width: 100%;
    float: left;
}
}
@media  only screen and (max-width:750px) {
.col-s-1{
    width: 8.33%;
    float: left;
}
.col-s-2{
    width: 16.66%;
    float: left;            
}
.col-s-3{
    width: 25%;
    float: left;
}
.col-s-4{
    width: 33.33%;
    float: left;
}
.col-s-5{
    width: 41.65%;
    float: left;
}
.col-s-6{
    width: 50%;
    float: left;
}
.col-s-7{
    width: 58.333%;
    float: left;
}
.col-s-8{
    width: 66.66%;
    float: left;
}
.col-s-9{
    width: 75%;
    float: left;
}
.col-s-10{
    width: 83.33%;
    float: left;
}
.col-s-11{
    width: 91.66%;
    float: left;
}
.col-s-12{
    width: 100%;
    float: left;
}
}
.row{
    display: flex;
}
input[type=text]{
width: 27em;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid grey;
border-radius: 20px;
box-sizing: border-box;
-webkit-transition: 0.5s;
  transition: 0.5s;
outline:none;
}

input[type=text]:focus {
  border: 1px solid black;
}


    
  

input[type=submit] {
width: auto;
background-color: black;
color: white;
font-weight:bold;
padding: 11px 17px;
margin: 5px;
border: 2px solid black;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: white;
color:black;
}

img:hover{  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

p{text-align:center;font-family: arial;font-size: 0.8em;font-weight: bold;}



.dropdown {
position: relative;
display: block;
margin-left:0px;
padding: 0;

}

.dropdown-content {
display: none;
position: absolute;
right: 500px;
top: 48px;
margin-right:30px ;
background-color: #000000;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
border-radius: 2px;
padding-left: o ;
padding-right: 15px;
}

.dropdown-content a {
color: rgb(255, 244, 244);
padding: 12px 16px;
text-decoration: none;
display: block;
}



.dropdown:hover .dropdown-content {
display: flex;;
}
#log{
margin: 0;
float: left;
width: 70px;
height: 40px;
padding: 0;

}

.selectdiv {
position: relative;
/*Don't really need this just for demo styling*/

float: left;
min-width: 200px;
margin: 50px 33%;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.selectdiv:after {
content: '<>';
font: 17px "Consolas", monospace;
color: #333;
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg);
right: 11px;
/*Adjust for position however you want*/

top: 18px;
padding: 0 0 2px;
border-bottom: 1px solid #999;
/*left line */

position: absolute;
pointer-events: none;
}

.selectdiv select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
/* Add some styling */

display: block;
width: 100%;
max-width: 320px;
height: 50px;
float: left;
margin: 5px 0px;
padding: 0px 24px;
font-size: 16px;
line-height: 1.75;
color: #333;
background-color: #ffffff;
background-image: none;
border: 1px solid #cccccc;
-ms-word-break: normal;
word-break: normal;
}

.clear{clear:both;}

.icon{height: 10em;float: right;margin-top: 20px;margin-right: 30px;}

#footer{margin: 0; height: 400px;background-color: rgb(0, 0, 0); position: relative; bottom:0px;border:4px solid red;}



#footer ul {
position: relative;
top:70px;
left:22%;
transform: translate(-50%, -50%);
margin:0;
padding:0;
display:inline-block;
}

#footer ul li {
list-style: none;
display: inline;

}

#footer ul li a {

display:inline-block; 
width:50px;
height:50px;
text-align:center;
margin:0 5px;
border-radius: 50%;
padding: 6px;
box-sizing: border-box;
text-decoration:none;
box-shadow: 0 10px 15px rgba(110, 88, 88, 0.644);
background: linear-gradient(0deg, #ddd, #fff);
transition: .5s;
}

#footer ul li a:hover {
box-shadow: 0 2px 5px rgba(0,0,0,0.3);
border: 2px solid red;
}


#footer ul li a .fb {

width: 100%;
height:100%;
display:inline-block;
background: linear-gradient(0deg, #fff, #ddd);
border-radius: 50%;
line-height: calc(60px - 12px);
transition: .5s;
}
#myBtn {
display: none;
position: fixed;
bottom: 40px;
right: 30px;
z-index: 99;
font-size: 18px;
border: none;
outline: none;
background-color: gray;
color: white;
cursor: pointer;
padding: 12px;
border-radius: 30%;
}

.foot{
    left:100px;background-color:rgb(0, 0, 0);padding: 0px; float: right; width: 400px;
}

#myBtn:hover {
background-color: #555;
}

input[type=text]{
    width: 27em;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 20px;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
      transition: 0.5s;
    outline:none;
    }

    input[type=text]:focus {
      border: 1px solid black;
    }

    input[type=button] {
    width: auto;
    background-color: black;
    color: white;
    font-weight:bold;
    padding: 11px 17px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    }

    input[type=button]:hover {
    background-color: white;
    color:black;
    }

    
    @media only screen and (max-width: 1000px)
    {
        input[type=text]{
        width: 85%;

    }

    
    .icon{height: 10em;float: right;margin-top: 20px;margin-right: 30px;}





}

#add{background-image: url(https://cdn.shopify.com/s/files/1/2290/7887/files/1900_x_850_banner_01_80f02fe2-7085-4202-b1ac-bcdb6c841ce2_1900x850.jpg?v=1579865883); background-size: 100% 100%;background-repeat: no-repeat;padding-right: 20px;}



@media only screen and (max-width:750px)
{
    #footer{height:430px;}

#footer ul{left: 40%;}
.foot{text-align: center;}
}

@media only screen and (max-width:600px)
{
#footer{height:570px;}
#footer ul{ float: right;} 
.foot{text-align: center;}

}

